# Compiled files
/build/
*.class
/WebContent/WEB-INF/classes/

# Logs
*.log

# IDE files (Eclipse)
.settings/
.project
.classpath

# Node (if used)
node_modules/

# OS files
.DS_Store

# Environment variables
.env